<div class="hero-image">
  <h1><strong>WELCOME TO YOUR COOKBOOK !! </strong></h1>
  <div class="hero-text">
    <h2>What do you want to do next?</h2>
    <ul class="recipe-actions">
      <li><a class="button" href="list"><button type="button" class="btn btn-primary">List all recipes</button></a></li>
      <li><a href="mark"><button type="button" class="btn btn-secondary">Mark a recipe as done</button></a></li>
      <li><a href="import"><button type="button" class="btn btn-success">Import recipe from the internet</button></a></li>
    </ul>
  </div>

</div>
<button></button>
